<div class="query-editor-frame">

  <div id="index_viewer">
    <p> available indexes:</p>
    <div id="index_p" >
      <span> {{ mappings }} </span>
    </div>
  </div>

  <!--
    <p> demo query: </p>
    <p> {{  query.name  + ': '  + query.boolQuery.to_json() }} </p>
  -->
  
  <div id="query_creation_div">
    <label for="q_textarea">Elastic Bool Query : </label>
    <textarea id="q_textarea" name="q_textarea" rows="30" cols="200" placeholder="insert 'must' part of query here">
      
      {{ es_bool_query_text_area_must }}

    </textarea>
    <sb-appid #appNameDropdownSelect class="appId" [selected]="XXX" (app)="did_select_scope($event)"></sb-appid>
  </div>

  <div>
    <button class="btn btn-primary test_q" (click)="test_query()"> test </button>
    <span>{{ query_test_result_hint }}</span>
  </div>
  <div>
    
    <button class="btn btn-primary cancel_q" (click)="cancel_query_editor()"> cancel </button>
    <button class="btn btn-primary save_q" (click)="save_query()"> take </button>

  </div>


</div>