<div class="container">
  <div>
    <sb-esindex #indexKeysDropdownSelect *ngIf="isTimEnv" class="es-index-select" [indexList]="esIndexes"
      (index)="did_select_index($event)"></sb-esindex>
  </div>
  <div class="nav-container">
    <sb-appid [selected]="scope.appId" class="appId" (app)="setScope($event)"></sb-appid>
    <!-- tell wether the app is running in tim, cf or kubernetes mode. tim mode supports index selection -->
    <!-- <div *ngIf="deploymentEnvironment && deploymentEnvironment === 'managementportal'">
        <select [ngModel]="elasticIndex"></select>
    </div> -->

    <button [ngClass]="{'btn-primary': !streaming, 'btn-danger': streaming, 'btn btn-primary': true}"
      class="btn btn-primary" (click)="toggleStream()" [disabled]="buttonDisabled">
      {{streaming? 'stop': 'start'}}

    </button>
  </div>
  <main>
    <sb-log-list [searchResponse]="hits$" [monacoFieldSelection]="monacoFieldSelection"></sb-log-list>
  </main>
</div>